<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/58ff903b9e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Prata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles3.css">
    <title></title>
</head>
<body>
    <div class="container">
        <%if(sentStatus === true){ %>
                    <div class="sent-alert">
                        <p class="sent-alert-text">Your message has been sent</p>
                        <div class="sent-alert-icon">
                            <i class="far fa-paper-plane"></i>
                        </div>
                    </div>
                    <script>
                      setTimeout(function () {
                         window.location = "/messages";
                      }, 1200)
                    </script>
                <% } %>
        <nav>
            <ul>
                <li><button class="nav-buttons" id="button-1"><a href="/user">HOME</a></button></li>
                <li><button class="nav-buttons" id="button-2"><a href="/logout">LOG OUT</a></button></li>
            </ul>
        </nav>
        <div class="compose-button">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                <i class="fa fa-plus fa-stack-1x"></i>
            </span>
            <span>
                <p>Compose</p>
            </span>
        </div>
            <div class="compose-box">
                <form action="/messages" method="POST">
                        <% if(isAdmin){ %>
                            <select name="sendTo" class="admin-dropdown" required>
                                <option selected="true" disabled="disabled" value="">
                                    Choose User
                                </option>
                                <% for(var x = 0; x < allUsers.length; x++){  %>
                                    <% if(String(allUsers[x]._id) !== String(userId)){ %>
                                        <option value=<%=allUsers[x]._id%>>
                                            <%= allUsers[x].username %>
                                        </option>
                                    <% } %>
                                <% } %>
                            </select>
                        <% } else { %>
                    <select name="sendTo" class="admin-dropdown" required>
                        <option selected="true" disabled="disabled" value="">Choose Admin</option>
                        <% for(var y = 0; y < foundUsers.length; y++){ %>
                        <% if(String(foundUsers[y]._id) !== String(userId)){ %>
                        <option value=<%=foundUsers[y]._id%>>
                            <%=foundUsers[y].username%>
                        </option>
                        <% } %>
                        <% } %>
                    </select>
                    <% } %>
                    <input type="text" name="subject" placeholder="subject" class="subject-input" autocomplete="off" required>
                    <textarea name="message" rows="5" cols="40" class="compose-body" required></textarea>
                    <input type="hidden" name="senderId" value=<%=userId%>>
                    <input type="hidden" name="senderName" value=<%=username%>>
                    <button type="submit" class="compose-send-button">Send</button>
                </form>
            </div>


        <% if(messages.length <= 0){ %>
            <div class="empty-message">
                <p>
                    <i class="far fa-frown"></i>
                    Your mailbox is empty.
                </p>
            </div>
        <% } %>
        <% for(var i = messages.length -1; i >=0; i--){ %>
            <div class="main-message-box <%=messages[i].isRead%> <%= 'replied' + messages[i].hasReplied%>">
                <div>
                    <form action="deleteMessages" method="POST">
                        <input type="hidden" name="messageId" value=<%=messages[i]._id%>>
                        <button class="message-delete-button"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </div>
                <div class="main-message-header">
                    <p class="message-from-text">
                        <%= messages[i].from.name %>
                    </p>
                    <% if(messages[i].hasReplied === true){ %>
                        <span class="replied-text">
                                <i class="fas fa-check-double"></i>
                                <span>replied</span>
                        </span>
                    <% } %>
                    <% if(messages[i].isRead === false){ %>
                        <span>
                          <form action="/markAsRead" method="POST">
                            <input type="hidden" name="userId" value=<%=userId%>>
                            <label class="checkbox-container">Mark as read
                            <input type="checkbox" name="markRead" class="mark-read-box" onChange="this.form.submit()" value=<%=messages[i]._id%>>
                            <span class="checkmark"></span>
                            </label>
                          </form>
                        </span>
                    <% } %>
                    <p class="message-date-text">
                        Date: <%= messages[i].date %>
                    </p>
                    <span>
                        Subject: <%= messages[i].subject %>
                    </span>
                </div>
                <div class="read-message" id="read-message">
                    <span class="expand" id="expand">
                        <i class="fas fa-chevron-down"></i>
                    </span>
                </div>
                <div class="main-message-body cut" id="main-message-body">
                    <p class="message-content-text">
                        <div class=" now overlay"></div>
                        <%= messages[i].message %>
                    </p>
                    <div class="input show" id="input">
                        <form action="/messages" method="POST">
                            <textarea name="message" rows="5" cols="40" class="compose-body" required></textarea>
                            <input type="hidden" name="sendTo" value=<%=messages[i].from.id%>>
                            <input type="hidden" name="senderId" value=<%=userId%>>
                            <input type="hidden" name="subject" value=<%= messages[i].subject %>>
                            <input type="hidden" name="senderName" value=<%=username%>>
                            <input type="hidden" name="markRead" value=<%=messages[i]._id%>>
                            <button class="compose-send-button">Reply</button>
                        </form>
                    </div>
                </div>
            </div>
    <% } %>
</div>
<script type="text/javascript" src="/js/index.js"></script>
</body>

</html>