<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Prata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles3.css">
    <title></title>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><button class="nav-buttons" id="button-1"><a href="/user">HOME</a></button></li>
                <li><button class="nav-buttons" id="button-2"><a href="/logout">LOG OUT</a></button></li>
            </ul>
        </nav>
        <div>
            <div>
                <form action="/messages" method="POST">
                    <select name="sendTo" class="admin-dropdown">
                        <option selected="true" disabled="disabled">Account</option>
                        <% for(var y = 0; y < foundUsers.length; y++){ %>
                        <% if(String(foundUsers[y]._id) !== String(userId)){ %>
                        <option value=<%=foundUsers[y]._id%>>
                            <%=foundUsers[y].username%>
                        </option>
                        <% } %>
                        <% } %>
                    </select>
                    <input type="text" name="subject" placeholder="subject">
                    <input type="text" name="message">
                    <input type="hidden" name="senderId" value=<%=userId%>>
                    <input type="hidden" name="senderName" value=<%=username%>>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>

        <% for(var i = messages.length -1; i >=0; i--){ %>
            <div class="main-message-box <%=messages[i].isRead%>">
                <div class="main-message-header">
                    <p class="message-from-text">
                        <%= messages[i].from.name %>
                    </p>
                    <% if(messages[i].isRead === false){ %>
                        <span>
                          <form action="/markAsRead" method="POST">
                            <input type="hidden" name="userId" value=<%=userId%>>
                            <label class="checkbox-container">Mark as read
                            <input type="checkbox" name="markRead" class="mark-read-box" onChange="this.form.submit()" value=<%=messages[i]._id%>>
                            <span class="checkmark"></span>
                            </label>
                          </form>
                        </span>
                    <% } %>
                    <p class="message-date-text">
                        Date: <%= messages[i].date %>
                    </p>
                    <span>
                        Subject: <%= messages[i].subject %>
                    </span>
                </div>
                <div class="read-message" id="read-message">
                    <span class="expand" id="expand">
                        expand
                        <hr>
                    </span>
                </div>
                <div class="main-message-body cut" id="main-message-body">
                    <p class="message-content-text">
                        <div class=" now overlay"></div>
                        <%= messages[i].message %>
                    </p>
                    <div class="input show" id="input">
                        <form action="/messages" method="POST">
                            <input type="text" name="message">
                            <input type="hidden" name="sendTo" value=<%=messages[i].from.id%>>
                            <input type="hidden" name="senderId" value=<%=userId%>>
                            <input type="hidden" name="subject" value=<%= messages[i].subject %>>
                            <input type="hidden" name="senderName" value=<%=username%>>
                            <input type="hidden" name="markRead" value=<%=messages[i]._id%>>
                            <button>Reply</button>
                        </form>
                    </div>
                </div>
            </div>
    <% } %>
</div>
<script type="text/javascript" src="/js/index.js"></script>
</body>

</html>