<%- include("header2") -%>
<%- include("nav") -%>
		<div>
			<div class="profile-box">
				<p><span class="account-key">Name:</span><span> <%=user.firstName%> </span></p>
				<p><span class="account-key">Account Id:</span><span> <%=user._id%> </span></p>
				<p><span class="account-key">Password:</span><a href="/change-password">Change password.</a></p>
			</div>
		</div>
<%- include("footer") -%>